<div *ngIf="!materias">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="col-12 text-center background" *ngIf="materias">

    <div class="row col-12 title">
        <div class="col text-center">
            <img src="{{materias.logoURL}}" class="login-logo rotate-in-center">
            <h1>{{materias.title}}</h1>

            <a href="{{materias.URLclass}}" target="_blank"><button mat-raised-button color="black">Sala</button></a>
            <!-- <a href="{{materias.URLmegaclass}}" target="_blank"><button mat-raised-button color="black">MegaClass</button></a> -->
            <a href="{{materias.URLdiscord}}" target="_blank"><button mat-raised-button color="black">Discord</button></a>
        </div>
    </div>

    <iframe src="https://trello.com/b/EebDugTH.html" frameBorder="0" width="100%" height="600"></iframe>

</div>