<div *ngIf="!materias">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="col-12 text-center background" *ngIf="materias">

    <div class="row col-12">
        <div class="col text-center">
            <img src="{{materias.logoURL}}" class="login-logo rotate-in-center">
            <h1>{{materias.title}}</h1>
        </div>
    </div>

    <div class="row col-12 col-md-8 content">
        <div class="col text-center">
            <div *ngFor="let item of materias.Apps">
                <mat-expansion-panel hideToggle class="col-12">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{item.name}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{item.teacher}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div *ngFor="let item of item.Tasks">
                        {{item.name}}
                    </div>

                </mat-expansion-panel>

            </div>
        </div>
    </div>
</div>