/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
html,
body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: white;
    color: black;
    background-image: url("./assets/images/Unasp-HT-BK.jpg");
    background-repeat: no-repeat;
}

.content {
    display: inline-block;
    text-align: center;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 3px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background: orange;
}